html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility; 
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

a { 
	text-decoration: none;
	color: #ffffff;
}

a:hover, a:focus { 
	text-decoration: none;
	border: none;
	color: #ffffff;
}

p {
	color: #666;
	font-size: 13px;
	line-height: 1.5;
}

div.facebook {
	background: #3b5998 url(../images/modernflat/fb.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.twitter {
	background: #00aced url(../images/modernflat/tw.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.google {
	background: #dd4b39 url(../images/modernflat/gp.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.instagram {
	background: #517fa4 url(../images/modernflat/ig.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.pinterest {
	background: #cb2027 url(../images/modernflat/pi.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.linkedin {
	background: #007bb6 url(../images/modernflat/in.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.youtube {
	background: #bb0000 url(../images/modernflat/yt.png) 0px 0px no-repeat;
	margin-bottom: 10px;
	padding-bottom: 9px;
	padding-top: 12px;
	padding-left: 50px;
}

div.facebook a.social {
color: #ffffff
}

div.twitter a.social {
color: #ffffff
}

div.google a.social {
color: #ffffff
}

div.instagram a.social {
color: #ffffff
}

div.pinterest a.social {
color: #ffffff
}

div.linkedin a.social {
color: #ffffff
}

div.youtube a.social {
color: #ffffff
}















